/*=======================================

  Universal Styling

========================================*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

h2{
  font-family: mencken-std-head, sans-serif;
}

p{
  font-family: montserrat, sans-serif;
}

h2,
p {
  color: #404041;
}

/*=======================================

  Header and Nav Styling

========================================*/
header {
    padding: 10px;
    background: #f5f3f1;
    max-width: 100%;
    margin: 0 auto;
}

nav ul li a {
  text-decoration: none;
  font-family: montserrat, sans-serif;
  font-size: 18px;
  color: #404041;
  padding: 20px;
}

nav ul li a:hover {
  color: #f47f6f;
}

.logo-container,
header nav,
nav li  {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
}

.logo-container{
  width: 10%;
}




/*=======================================

  Home Page Styling

========================================*/


.hero-image {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
}

h1 {
  position: absolute;
  padding: 10px;
  top: 200px;
  left: 190px;
  z-index: 99;
  font-family: mencken-std-head, sans-serif;
  color: white;
  font-size: 24px;
  }

main{
  width: 80%;
  margin: 0 auto;
}

.container-design{
  margin: 20px 0;
  padding:20px 0;
  background: #f5f3f1;
}

.container-design .right-half {
    margin: 0px 25px;
    padding: 0 10px;
}

.design-image{
  background:#d9ccc4;
  margin-left: 30px;
}

.video-image {
    background: #d9ccc4;
    padding: 15px;
}

.container-video{
  margin: 20px 0;
  padding: 30px 0px;
  background: #f5f3f1;
}

.container-video .right-half {
    margin: 0px 25px;
}

.container-video .left-half {
    text-align: right;
}

.left-half img,
.right-half img {
  width: 100%;
  vertical-align: middle;
}

.left-half,
.right-half {
  width: 45%;
  display: inline-block;
}

footer {
    text-align: center;
    padding: 40px 0;
    background: #f47f6f;
}
